
$black : black; 
$white : white;
$header : #333;
$bodybackground : #ccc;
$categories : #2582da;
$categorieshover : #d08504;
$greenButton : #3ddf38;
$greenButtonHover : #01af00;
$redButton : #ff7676;
$redButtonHover : #ff4343;
$blueButton : #add8e6;
$blueButtonHover : #72bcd4;